[package]
name = "desktop"
version = "0.1.0"
description = "A Tauri App"
authors = ["you"]
edition = "2024"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
# The `_lib` suffix may seem redundant but it is necessary
# to make the lib name unique and wouldn't conflict with the bin name.
# This seems to be only an issue on Windows, see https://github.com/rust-lang/cargo/issues/8519
name = "desktop_app_lib"
# crate-type = ["staticlib", "cdylib", "rlib"]

[build-dependencies]
tauri-build = { version = "2.0.5", features = [] }

[features]
compression = ["tauri/compression"]
devtools = ["tauri/devtools"]

[dependencies]
sapic-core = { workspace = true }
sapic-app = { workspace = true }
sapic-platform = { workspace = true }
sapic-welcome = { workspace = true }
sapic-main = { workspace = true }
sapic-window = { workspace = true }
sapic-system = { workspace = true }
sapic-runtime = { workspace = true }
sapic-window2 = { workspace = true }
sapic-ipc = { workspace = true }
sapic-base = { workspace = true }

moss_app_delegate.workspace = true
moss_activity_broadcaster.workspace = true
moss_applib.workspace = true
moss_common.workspace = true

moss_project.workspace = true
moss_fs.workspace = true
moss_text.workspace = true
moss_workspace.workspace = true
moss_environment.workspace = true
moss_keyring.workspace = true
moss_extension_points.workspace = true
moss_storage2.workspace = true

shared-storage.workspace = true
settings-storage.workspace = true

inventory.workspace = true
reqwest.workspace = true
tauri = { workspace = true, features = ["wry", "macos-private-api", "objc-exception"] }
anyhow.workspace = true
log.workspace = true
rand.workspace = true
serde_json.workspace = true
strum = { workspace = true, features = ["derive"] }
tokio = { workspace = true, features = ["full"] }
tracing.workspace = true
futures.workspace = true
joinerror.workspace = true
dotenvy.workspace = true
#
# Tauri plugins
#
tauri-plugin-fs = "2.3.0"
tauri-plugin-os = "2.2.0"
tauri-plugin-log = { version = "2.2.1", features = ["colored"] }
tauri-plugin-window-state = "2.4.0"
tauri-plugin-single-instance = "2.3.6"
tauri-plugin-opener = "2.5.2"

[target.'cfg(any(target_os = "linux", target_os = "macos"))'.dependencies]
mimalloc = { version = "0.1.39", default-features = false }

[target.'cfg(target_os = "macos")'.dependencies]
objc = "0.2.7"
cocoa = "0.26.0"
macos-trampoline = { path = "./lib/macos" }
