version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      actions-dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
    commit-message:
      prefix: ci
      include: scope
    open-pull-requests-limit: 5
    cooldown:
      default-days: 3
      semver-patch-days: 3
      semver-minor-days: 7
      semver-major-days: 30

  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: monthly
    groups:
      rust-dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
    commit-message:
      prefix: build(rust)
      prefix-development: chore(rust)
    labels:
      - dependencies
      - rust
    open-pull-requests-limit: 10
    cooldown:
      default-days: 3
      semver-patch-days: 3
      semver-minor-days: 7
      semver-major-days: 30

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: monthly
    groups:
      react:
        patterns:
          - "@types/react"
          - "react"
          - "react-dom"
        update-types:
          - "minor"
          - "patch"
      vite:
        patterns:
          - "@vitejs/*"
          - "vite"
        update-types:
          - "minor"
          - "patch"
      moss-tabs:
        patterns:
          - "moss-tabs"
        update-types:
          - "minor"
          - "patch"
      other-frontend-dependencies:
        patterns:
          - "*"
        exclude-patterns:
          - "@types/react"
          - "react"
          - "react-dom"
          - "@vitejs/*"
          - "vite"
        update-types:
          - "minor"
          - "patch"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
    commit-message:
      prefix: build(typescript)
      prefix-development: chore(typescript)
    labels:
      - dependencies
      - typescript
    open-pull-requests-limit: 10
    cooldown:
      default-days: 3
      semver-patch-days: 3
      semver-minor-days: 7
      semver-major-days: 30