{
  "printWidth": 120,
  "singleQuote": false,
  "semi": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss",
    "@typespec/prettier-plugin-typespec"
  ],
  "tailwindConfig": "packages/config-tailwind/tailwind.config.ts",
  "tailwindFunctions": ["cn", "clsx", "cva"],
  "importOrder": ["^[a-z]", "", "^@/(.*)$", "^@(.*)/(.*)$", "", "^[./]", "", "^.*\\.(css)$"],
  "importOrderParserPlugins": ["typescript", "jsx", "tsx"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "quoteProps": "preserve",
  "overrides": [{ "files": "*.tsp", "options": { "parser": "typespec" } }]
}
