[workspace]
resolver = "1"
members = [
    "crates/moss-desktop",
    "crates/moss-tauri",
    "crates/moss-text",
    "crates/moss-collection",
    "tools/xtask",
    "view/desktop/bin",
]

[workspace.dependencies]
moss_desktop = { path = "crates/moss-desktop" }
moss_tauri = { path = "crates/moss-tauri" }
moss_text = { path = "crates/moss-text" }
moss_collection = { path = "crates/moss-collection" }

tauri = { version = "2.2.5", default-features = false }

anyhow = "1.0.95"
arcstr = "1.2.0"
bstr = "1.11.3"
clap = { version = "4.5.28", features = ["derive"] }
derive_more = "2.0.1"
dirs = "6.0.0"
fnv = "1.0.7"
log = "0.4.25"
once_cell = "1.20.3"
parking_lot = "0.12.3"
rand = { version = "0.9.0", default-features = false, features = [
    "thread_rng",
] }
serde = "1.0.217"
serde_json = "1.0.138"
strum = "0.27.0"
tokio = "1.43.0"
tracing = "0.1"
tracing-appender = "0.2.3"
tracing-subscriber = "0.3.18"
ts-rs = "10.1.0"
