[workspace]
resolver = "1"
members = [
    "crates/moss-git",
    "crates/moss-git-hosting-provider",
    "crates/moss-tauri",
    "crates/moss-text",
    "crates/moss-collection",
    "crates/moss-app",
    "crates/moss-db",
    "crates/moss-fs",
    "tools/xtask",
    "view/desktop/bin",
]

[workspace.dependencies]
moss_tauri = { path = "crates/moss-tauri" }
moss_text = { path = "crates/moss-text" }
moss_collection = { path = "crates/moss-collection" }
moss_db = { path = "crates/moss-db" }
moss_app = { path = "crates/moss-app" }
moss_git = { path = "crates/moss-git" }
moss_git_hosting_provider = { path = "crates/moss-git-hosting-provider" }
moss_fs = { path = "crates/moss-fs" }

tauri = { version = "2.2.5", default-features = false }
tauri-plugin-stronghold = "2.0.0"
rand = { version = "0.9.0", default-features = false, features = [
    "thread_rng",
] }
serde = "1.0.217"
kdl = "6.3.3"
anyhow = "1.0.95"
arcstr = "1.2.0"
bstr = "1.11.3"
clap = { version = "4.5.28", features = ["derive"] }
derive_more = "2.0.1"
dirs = "6.0.0"
fnv = "1.0.7"
git2 = "0.20.0"
log = "0.4.25"
oauth2 = "5.0.0"
once_cell = "1.20.3"
parking_lot = "0.12.3"
reqwest = "0.12.12"
serde_json = "1.0.138"
ssh2 = "0.9.5"
strum = "0.27.0"
tokio = "1.43.0"
tracing = "0.1"
tracing-appender = "0.2.3"
tracing-subscriber = "0.3.18"
ts-rs = "10.1.0"
thiserror = "2.0.11"
dashmap = "6.1.0"
sled = "0.34.7"
bincode = "1.3.3"
async-trait = "0.1.86"
patricia_tree = "0.9.0"
url = "2.5.4"
