:root {
  --moss-test-background-1: #f3f4f6;
  --moss-test-background-2: #cbd5e0;
  --moss-test-text-1: #101828;

  --moss-primary: rgba(0, 0, 0, 1);
  --moss-page-background: rgba(255, 255, 255, 1);
  --moss-sideBar-background: rgba(244, 244, 245, 1);
  --moss-toolBar-background: rgba(224, 224, 224, 1);
  --moss-statusBar-background: #0f62fe;

  --moss-windowsCloseButton-background: rgba(196, 43, 28, 1);
  --moss-windowControlsLinux-background: rgba(218, 218, 218, 1);
  --moss-windowControlsLinux-text: rgba(61, 61, 61, 1);
  --moss-windowControlsLinux-hoverBackground: rgba(209, 209, 209, 1);
  --moss-windowControlsLinux-activeBackground: rgba(191, 191, 191, 1);

  --moss-paneview-active-outline-color: dodgerblue;
  --moss-drag-over-background-color: rgba(83, 89, 93, 0.5);
  --moss-drag-over-border-color: white;
  --moss-tabs-container-scrollbar-color: #888;
  --moss-icon-hover-background-color: rgba(90, 93, 94, 0.31);
  --moss-group-view-background-color: white;
  --moss-tabs-and-actions-container-background-color: #f3f3f3;
  --moss-activegroup-visiblepanel-tab-background-color: white;
  --moss-activegroup-hiddenpanel-tab-background-color: #ececec;
  --moss-inactivegroup-visiblepanel-tab-background-color: white;
  --moss-inactivegroup-hiddenpanel-tab-background-color: #ececec;
  --moss-tab-divider-color: white;
  --moss-activegroup-visiblepanel-tab-color: rgb(51, 51, 51);
  --moss-activegroup-hiddenpanel-tab-color: rgba(51, 51, 51, 0.7);
  --moss-inactivegroup-visiblepanel-tab-color: rgba(51, 51, 51, 0.7);
  --moss-inactivegroup-hiddenpanel-tab-color: rgba(51, 51, 51, 0.35);
  --moss-separator-border: rgba(128, 128, 128, 0.35);
  --paneview-header-border-color: rgb(51, 51, 51);

  --moss-paneview-header-border-color: 13px;
  --moss-tabs-and-actions-container-height: 35px;
  --moss-floating-box-shadow: 8px 8px 8px 0px rgba(83, 89, 93, 0.5);
  --moss-overlay-z-index: 999;

  --moss-tabslist-background: #f4f4f4;
  --moss-tab-background: #f4f4f4;
  /*--moss-tab-text: ;*/
  --moss-active-tab-background: white;
  /*--moss-active-tab-text: ;*/
  --moss-hover-inactive-tab-background: rgba(255, 255, 255, 0.5);
  --moss-tab-panels-background: white;
}
