.stripes {
  background-image: linear-gradient(
    -45deg,
    white 5%,
    transparent 5% 45%,
    white 45% 55%,
    transparent 55% 95%,
    white 95%
  );
  background-size: 20px 20px;
  animation: moveStripes 1s linear infinite;
}

@keyframes moveStripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 20px 0;
  }
}
