[package]
name = "moss_common"
version = "0.1.0"
edition = "2024"
license = "MIT"

[dependencies]
derive_more = { workspace = true, features = ["deref", "deref_mut"] }

[dev-dependencies]
tokio = { workspace = true, features = ["rt-multi-thread", "macros"] }

[features]
integration-tests = []
