[package]
name = "moss_app"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow.workspace = true
derive_more.workspace = true
fnv.workspace = true
log.workspace = true
parking_lot.workspace = true
tauri.workspace = true
