[package]
name = "moss_workspace"
version = "0.1.0"
edition = "2024"
license = "MIT"

[dependencies]
sapic-base.workspace = true
sapic-system.workspace = true
sapic-core.workspace = true
sapic-ipc.workspace = true

moss_app_delegate.workspace = true
moss_applib.workspace = true
moss_fs.workspace = true
moss_project.workspace = true
moss_environment.workspace = true
moss_storage2.workspace = true
moss_git.workspace = true
moss_bindingutils.workspace = true
moss_edit.workspace = true
moss_keyring.workspace = true
moss_logging.workspace = true
moss_common.workspace = true
moss_id_macro.workspace = true
moss_text.workspace = true

static_json.workspace = true
inventory.workspace = true
joinerror.workspace = true
anyhow.workspace = true
serde = { workspace = true, features = ["derive", "rc"] }
ts-rs = { workspace = true, features = ["url-impl"] }
tokio.workspace = true
validator = { workspace = true, features = ["derive"] }
tauri.workspace = true
serde_json = { workspace = true, features = ["raw_value"] }
futures.workspace = true
derive_more = { workspace = true, features = ["deref", "deref_mut"] }
image = { workspace = true, features = ["png"] }
rand = { workspace = true, features = ["thread_rng"] }
async-trait.workspace = true
async-stream.workspace = true
nanoid.workspace = true
json-patch.workspace = true
jsonptr.workspace = true
reqwest = { workspace = true, features = ["json"] }
dotenvy = { workspace = true, optional = true }
oauth2 = { workspace = true, features = ["ureq"], optional = true }
rustc-hash = { workspace = true }
tracing.workspace = true

[dev-dependencies]
sapic-runtime = { workspace = true }
sapic-platform = { workspace = true }
tauri = { workspace = true, features = ["test"] }
moss_testutils.workspace = true
moss_applib = { workspace = true, features = ["test"] }

[features]
integration-tests = [
  "dotenvy",
  "moss_project/integration-tests",
  "oauth2",
  "moss_keyring/test",
  "sapic-runtime/integration-tests",
  "moss_storage2/integration-tests",
]
