<!doctype html>
<html lang="en" data-theme="dark" class="html">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon links -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/32x32.png" />
    <link rel="icon" type="image/png" sizes="128x128" href="/128x128.png" />
    <link rel="apple-touch-icon" sizes="128x128" href="/128x128.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sapic</title>
</head>

<body class="body">
    <div id="root"></div>
    <script type="module" src="/src/windows/welcome.window.tsx"></script>
</body>

</html>